<mat-toolbar color="secondary" class="col-sm-12">
  <h1 class="mb-1">Ricerca fattura</h1>
</mat-toolbar>
<div class="container-fluid">
  <form
    [formGroup]="form"
    #formControl
    id="form"
    class=""
    (ngSubmit)="RicercaFattura()"
  >
    <div class="row pt-3">
      <mat-form-field appearance="fill" class="col-4 px-3">
        <mat-label>Numero fattura</mat-label>
        <input
          matInput
          formControlName="receipt_number"
          [errorStateMatcher]="matcher"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-4 px-3">
        <mat-label>Periodo</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start"
            placeholder="Data inizio"
            [errorStateMatcher]="matcher"
          />
          <input
            matEndDate
            formControlName="end"
            placeholder="Data fine"
            [errorStateMatcher]="matcher"
          />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="form.controls['start'].invalid">
          Invalid start date</mat-error
        >
        <mat-error *ngIf="form.controls['end'].invalid">
          Invalid end date</mat-error
        >
      </mat-form-field>
    </div>

    <div class="row px-3 d-flex border-bottom">
      <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
      <button
        mat-fab
        class="m-2"
        *ngIf="!loading"
        color="primary"
        type="submit"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button
        mat-fab
        class="m-2"
        color="primary"
        type="reset"
        (click)="ClearFilter()"
      >
        <mat-icon>filter_alt_off</mat-icon>
      </button>
    </div>
  </form>
</div>
<app-storico-list
  *ngIf="ricevuteStorico != null && ricevuteStorico != []"
  [ricevuteStorico]="ricevuteStorico"
></app-storico-list>
