<div class="row h-100">
  <form [formGroup]="form" id="form" (ngSubmit)="RicercaCliente()">
    <div class="row">
      <mat-form-field appearance="fill" class="col-6">
        <mat-label>Ragione sociale</mat-label>
        <input matInput formControlName="business_name" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-6">
        <mat-label>C.F.-P.IVA</mat-label>
        <input matInput formControlName="cf_piva" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-6">
        <mat-label>Cognome</mat-label>
        <input matInput formControlName="surname" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-6">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-6">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    </div>
    <div class="d-flex">
      <button mat-fab class="m-2" color="primary" type="reset">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
      <button
        mat-fab
        class="m-2"
        *ngIf="!loading"
        color="primary"
        type="submit"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>
</div>
