<h1 mat-dialog-title>Selezionare la ricevuta desiderata:</h1>
<div mat-dialog-content>
  <mat-selection-list #ClientiList [multiple]="false">
    <mat-list-option *ngFor="let cliente of clienti" [value]="cliente">
      <span matListItemTitle>{{ cliente.business_name }} </span>
      <span matListItemLine>{{
        cliente.surname + " " + cliente.name + ", " + cliente.email
      }}</span>
      {{ cliente.surname + " " + cliente.name + ", " + cliente.business_name }}
    </mat-list-option>
  </mat-selection-list>
</div>
<mat-dialog-actions align="end">
  <button
    mat-button
    [mat-dialog-close]="
      ClientiList.selectedOptions.hasValue()
        ? ClientiList.selectedOptions.selected[0].value
        : null
    "
  >
    conferma
  </button>
</mat-dialog-actions>
