<div class="row">
        <div class="col-sm-6">
            <form [formGroup]="form" id="form" (ngSubmit)="RicercaRicevuta()">
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Negozio</mat-label>
                    <input matInput formControlName="negozio">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Cassa</mat-label>
                    <input matInput formControlName="cassa">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Transazione</mat-label>
                    <input matInput  formControlName="transazione">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Data transazione</mat-label>
                    <input matInput  [matDatepicker]="picker" formControlName="data">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker  #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <button mat-fab  color="primary" class="m-2" type="reset" >
                <mat-icon >delete</mat-icon>
              </button>
              <button mat-fab  color="primary" class="m-2" type="submit" >
                <mat-icon>search</mat-icon>
              </button>
            </form>
        </div>


</div>


