<div class="row">
    <div class="col-sm-8">
        <form [formGroup]="form" id="form">
                <div class="row">
                    <mat-form-field appearance="fill" class="col-sm-8">
                        <mat-label>Negozio</mat-label>
                        <input matInput formControlName="negozio">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="fill" class="col-sm-8">
                        <mat-label>Cassa</mat-label>
                        <input matInput formControlName="cassa">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="col-sm-8" appearance="fill">
                        <mat-label>Transazione</mat-label>
                        <input matInput  formControlName="transazione">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="col-sm-8" appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput  [matDatepicker]="picker" formControlName="data">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker  #picker></mat-datepicker>
                    </mat-form-field>
                </div>
        </form>
    </div>

</div>
<div class="col-md-4">
  <button mat-fab color="primary" (click)="RicercaRicevuta(form)">
      <mat-icon>search</mat-icon>
  </button>
</div>

