<div class="w-100 d-flex position-relative">
  <h1 mat-dialog-title>Selezionare lo scontrino desiderato:</h1>

  <button
    mat-icon-button
    class="m-2 position-absolute end-0"
    [mat-dialog-close]="null"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="py-0">
  <mat-selection-list #ricevuteList [multiple]="false">
    <mat-list-option
      *ngFor="let ricevuta of ricevute"
      [value]="ricevuta.nomeFile"
    >
      <mat-icon matListItemIcon>note</mat-icon>
      <span matListItemTitle
        >Totale: {{ ricevuta.prezzoTotale | number : "1.2-2" }} € | Data:
        {{ getDataTransazione(ricevuta.nomeFile!) }}</span
      >
      <span matListItemLine
        >Scontrino: {{ ricevuta.nomeFile!.split("_")[2] }}</span
      >
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="
      ricevuteList.selectedOptions.hasValue()
        ? ricevuteList.selectedOptions.selected[0].value
        : null
    "
  >
    Conferma
  </button>
</mat-dialog-actions>
