<div class="w-100 d-flex position-relative">
  <h1 mat-dialog-title style="color: red" class="me-5">
    Si è verificato un errore!
  </h1>

  <button
    mat-icon-button
    class="m-2 position-absolute end-0"
    [mat-dialog-close]="null"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="py-0">
  <h2>
    {{
      errore.status === 404
        ? "Nessun elemento trovato!"
        : errore.status === 409
        ? "Operazione non permessa!"
        : errore.error
    }}
  </h2>
  <!-- <h2 *ngIf="errore.status === 409"></h2> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [mat-dialog-close]>conferma</button>
</mat-dialog-actions>
